<!-- blog/templates/blog/index.html -->
{% extends 'main.html' %}

{% block content %}



{% if not user.is_authenticated %}
  <div class="alert alert-info">
    Please authenticate in order to see the courses you are enrolled.
  </div>
{% endif %}

{% if user.is_authenticated %}
  <h1>Courses</h1>
  <div class="course-list">
    <ul>
      {% if courses %}
        {% for course in courses %}
          <li class="course-item">
            <a href="{% url 'course_detail' course.id %}">
              {{ course.title }}
            </a>
            <p>{{ course.description }}</p>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endif %}


{% endblock %}
