{% load static %}

    <style>
     .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
    </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--img src="{% static '/images/logo.jpg' %}" height="100" width="100"-->
    <a class="navbar-brand" href="{% url 'index' %}">ClassRoom</a>

    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    
    </div>
    {% if user.is_authenticated %}
        <span class="hello-msg">Hello, {{ user.username }}</span>
        <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    {% else %}
        <span><a class="hello-msg" href="{% url 'login' %}">Login</a></span>
    {% endif %}
  </nav>
